{{>header}}
    <p>{{name}}</p>

    <form>
        <div class="row">
            <div class="col-sm-4">
                <input class="form-control" placeholder="location">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
    <br>
    <p id="message-1"></p>
    <p id="message-2"></p>

    <script src="/js/app.js"></script>
{{>footer}}