<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

    <div style="background: #e29090b8">
        <ul class="nav nav-pills" style="padding-left: 80px;">
            <li class="p10">
                <a href="/">Weather</a>&nbsp;&nbsp;&nbsp;
            </li>
            <li class="p10">
                <a href="/about">About</a>&nbsp;&nbsp;&nbsp;
            </li>
            <li class="p10">
                <a href="/help">Help</a>
            </li>
        </ul>
    </div>
    <div class="container" style="min-height: 520px;">
        <h1 style="padding-top:10px;">{{title}}</h1>