.p10 {
    padding: 25px;
    font-weight: 500;
    font-size: 25px;
}
a {
    color: #f9f2f2;
}
.copyright {
    margin: 0px;
    padding: 11px;
    color: white;
    font-size: 19px;
    font-weight: 600;
}